@import "consts";

@import url("https://rsms.me/inter/inter.css");

html {
	font-family: inter, sans-serif;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	color: $accent;
}

a:hover {
	color: $secondary;
}

h2 {
	font-size: 30px;
}

h1 {
	font-size: 45px;
	font-weight: 300;
}
