@import "consts";

.elem {
	display: flex;
	list-style: none;

	&.left {
		flex-direction: row;

		.content {
			margin-left: -25px;
			padding-left: 40px;
			border-color: $secondary;
		}
	}

	&.right {
		flex-direction: row-reverse;

		.content {
			margin-right: -25px;
			padding-right: 40px;
			border-color: $accent;
		}
	}
}

.feature-img {
	width: 40%;
	min-width: 200px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.content {
	border-style: solid;
	border-width: 7px;
	padding: 20px;

	margin-bottom: 20px;


	h3 {
		margin: 0;
	}

	li {
		list-style: square;
	}
}

